<app-pay-type-navbar></app-pay-type-navbar>

<div *ngIf="informePagos.length > 0; else noData" class="table-container">
  <table class="info-sale-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>id Informe</th>
        <th>Ticket</th>
        <th>Id Detalle</th>
        <th>Tipo Pago</th>
        <th>Monto</th>
        <th>Monto Fijo</th>
        <th>Tipo Ticket</th>
        <th>Accion</th>
        <th>Registrado</th>
        
      </tr>
    </thead>
    <tbody>
      @for (item of informePagos; track item.id) {
        <tr>
          <td>{{ item.id}}</td>
          <td>{{ item.idInfoSale}}</td>
          <td [appCopiarTexto]="item.ticket.toString()">{{ item.ticket }}</td>
          <td>{{ item.idDetails }}</td>
          <td>{{ item.payType | payTypeTranslate }}</td>
          <td>{{ item.monto}}</td>
          <td>{{ item.total}}</td>
          <td>{{ item.ticketType}}</td>
          <td>{{ item.accion}}</td>
          <td>{{ item.registrationMetodoPago | customDateFormat}}</td>
          <!-- <td>
            <span class="status-badge" [ngClass]="{
              'active': item.state === 'Activo',
              'inactive': item.state !== 'Activo'
            }">{{ item.state ?? '-' }}</span>
          </td> -->
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination-footer">
    <div class="pagination-info">
      Mostrando {{ informePagos.length }} de {{ totalElements }} registros
    </div>

    <div class="pagination-controls">
      <button 
        class="btn btn-sm" 
        [disabled]="currentPage === 0"
        (click)="onPageChange(currentPage - 1)">
        Anterior
      </button>

      <span class="page-info">
        Página {{ currentPage + 1 }} de {{ totalPages }}
      </span>

      <button 
        class="btn btn-sm" 
        [disabled]="currentPage === totalPages - 1"
        (click)="onPageChange(currentPage + 1)">
        Siguiente
      </button>

      <div class="page-size-selector">
        Mostrar
        <select (change)="onPageSizeChange($event)" [value]="pageSize">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <p class="no-data-msg">No hay información disponible.</p>
</ng-template>
