<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/main-mantenimiento" routerLinkActive="active" class="nav-link">
        Mantenimiento Almacen
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/main-vitrinas" routerLinkActive="active" class="nav-link">
        Mantenimiento Vitrinas
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/main-marcas" routerLinkActive="active" class="nav-link">
        Mantenimiento Marcas
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/main-pro-gen" routerLinkActive="active" class="nav-link">
        Mantenimiento Productos Y Genero
      </a>
    </li>
  </ul>
</nav>