<ul class="nav-pills" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      routerLink="/filter-slipper"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Calzados
    </a>
  </li>


  <li class="nav-item" role="presentation">
    <a
      routerLink="/filter-go-ca-me"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Unicos
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      routerLink="/filter-ropas"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Ropas
    </a>
  </li>
</ul>
