<ul class="nav-pills" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      routerLink="/filter-vitrina"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Vitrina
    </a>
  </li>

  <li class="nav-item" role="presentation">
    <a
      routerLink="/filter-vitrina-b"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Vitrina B
    </a>
  </li>

</ul>
