<ul class="nav-pills" role="tablist">
    <li class="nav-item" role="presentation">
    <a
      routerLink="/main-stock"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Stock Almacen
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      routerLink="/stock-vitrina"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Stock Vitrina
    </a>
  </li>
<!--
  <li class="nav-item" role="presentation">
    <a
      routerLink="/stock-vitrina-b"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      class="nav-link rounded-pill"
    >
      Stock Vitrina B
    </a>
  </li>
-->
</ul>
